<div class="registro">
  <header>
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container-fluid">
        <div class="zona_izquierda">
            <img src="assets/img/landing/logoYoRifo.png" class="img_logo">
        </div>
        <a class="nav d-flex justify-content-end " id="navbarCollapse">
          <div class="d-flex align-items-center align-self-center "><i class="fas fa-arrow-left icono_inicio"></i>
          <a class="d-flex nav_inicio d-none d-sm-block" [routerLink]="['/landing']">Inicio</a></div>
        </a>
      </div>
    </nav>
  </header>

  <div id="zonaRegistro">
      <h1 class="text-center">Regístrate</h1>
      <p class="text-center">Diligencia los campos y crea tu primera rifa</p>

      <div class="card">
        <div class="row">
          <div class="col-5" id="zona-img-formularios">
            <img src="assets/img/registro/imagen_registro.png" alt="" class="img_formularios"/>
          </div>

          <div class="col-7" id="formularioRegistro">
            <form (ngSubmit)="onSubmit()" [formGroup]="formRegistro">
              <div class="mb-2">
                <label for="nombre">Nombres </label><span class="simbolo">*</span>
                <input type="text" class="form-control" name="nombre" id="nombre" formControlName="nombre"/>
                <div *ngIf="formRegistro.get('nombre')?.touched && formRegistro.get('nombre')?.errors?.['required']" class="alert alert-danger">Este campo es Obligatorio</div>
                <!-- <div *ngIf="formRegistro.get('nombre')?.touched && formRegistro.get('nombre')?.errors?.['minlength']" class="alert alert-danger">El nombre debe tener {{ formRegistro.get('nombre')?.errors?.['minlength']?.requiredLength }} caracteres.</div> -->
              </div>

              <div class="mb-2">
                <label for="apellido">Apellidos </label><span class="simbolo">*</span>
                <input type="text" class="form-control" name="apellido" id="apellido" formControlName="apellido" />
                 <div *ngIf="formRegistro.get('apellido')?.touched && formRegistro.get('apellido')?.errors?.['required']" class="alert alert-danger">Este campo es Obligatorio</div>
              </div>

              <div class="mb-2">
                <label for="correo">Correo Electronico</label> <span class="simbolo">*</span>
                <input type="email" class="form-control" id="Email" name="correo" formControlName="correo" />
                 <div *ngIf="formRegistro.get('correo')?.touched && formRegistro.get('correo')?.errors?.['required']" class="alert alert-danger">Este campo es Obligatorio</div>
              </div>

              <div class="mb-2">
                <label for="contraseña">Contraseña</label><span class="simbolo">*</span>
                <input type="password" class="form-control" id="contraseña" name="contraseña" formControlName="password"/>
                 <div *ngIf="formRegistro.get('password')?.touched && formRegistro.get('password')?.errors?.['required']" class="alert alert-danger">Este campo es Obligatorio</div>
              </div>

              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="acepto_terminos" formControlName="acepto_terminos" />
                <label for="acepto_terminos" class="custom-control-label"> Acepto los <a href="#" class="terminos">Terminos y condiciones</a></label>
                 <div *ngIf="formRegistro.get('acepto_terminos')?.touched && formRegistro.get('acepto_terminos')?.errors?.['required']" class="alert alert-danger">Este campo es Obligatorio</div>
              </div>

              <div class="d-flex justify-content-end">
                <button type="submit" class=" btn btn-registro btn-primary">Enviar</button>
              </div>

            </form>
          </div>
        </div>
      </div>
  </div>
</div>

<app-footer></app-footer>
