<div class="login">

    <header>
        <nav class="navbar navbar-expand-md fixed-top">
            <div class="container-fluid d-flex">
                <div class="zona_izquierda">
                   <img src="assets/img/landing/logoYoRifo.png" class="img_logo">
                </div>
                <a class="nav d-flex justify-content-end " id="navbarCollapse">
                    <div class="align-items-center align-self-center "><i class="fas fa-arrow-left icono_inicio"></i></div>
                    <a class="d-flex nav_inicio d-none d-sm-block" [routerLink]="['/landing']">Inicio</a>
                </a>
            </div>
        </nav>
    </header>

  <div id="zonaLogin">
    <div class="card">
      <div class="row">
        <div class="col-5" id="zona-img-formularios">
          <img src="assets/img/imagen_login.png" alt="" class="img_formularios">
        </div>
        <div class="col-7" id="formularioLogin">
          <form  [formGroup]="inputForm" (ngSubmit)="iniciarSesion()">
            <h1 class="text-center">Bienvenido</h1>
            <div class="mb-2">
              <label for="correo">Correo Electrónico </label><span class="simbolo">*</span>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp"  formControlName="correo">
              <div *ngIf="inputForm.get('correo')?.touched && inputForm.get('correo')?.errors?.['required']" class="alert alert-danger">Este campo es Obligatorio</div>
            </div>
            

            <div class="mb-2">
              <label for="contraseña">Contraseña </label><span class="simbolo">*</span>
              <input type="password" class="form-control" id="password"  formControlName="password">
              <div *ngIf="inputForm.get('password')?.touched && inputForm.get('password').errors?.['required']" class="alert alert-danger">Este campo es Obligatorio</div>
            </div>

            <div class="mb-2">
              <label for="entrarComo" class="form-label">Entrar Como</label><span class="simbolo">*</span>
                <ng-select2
                  [data]="roles"
                  [width]="300" class="select_login"  formControlName="roles">
                </ng-select2>
                <div *ngIf="inputForm.get('roles')?.touched && inputForm.get('roles')?.errors?.['required']" class="alert alert-danger">Este campo es Obligatorio</div>
            </div>

            <a href="#" class="recuperar"> Recuperar Contraseña </a>

            <div class="mb-3 d-flex justify-content-end">
              <button type="submit" class=" btn btn-login btn-primary">Ingresar</button>
            </div>

            <div class=" text-center">
                <p>¿No tienes una cuenta? <a [routerLink]="['/registro']">Registrar</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>


