<div id="rifas">
  <div class="container-fluid">
    <div class="row d-flex encabezado align-items-center align-self-center justify-content-between">
      <div class="col-10 titulo">
        <h2>Lista de Rifas</h2>
      </div>
      <div
        class="col-2 filtro d-flex d-sm-none"
        id="filtro_listar"
        (click)="mostrarFiltro = !mostrarFiltro"
      >
        <i class="fas fa-filter"></i>
      </div>
    </div>

    <div class="row d-none d-sm-flex" id="formulario">
      <form class="col d-flex align-items-center align-self-center">
        <div class="col-4">
          <input type="text" class="form-control" id="buscarProducto" placeholder="Nombre"/>
        </div>
        <div class="col-2 mx-2">
          <ng-select2 
            class="select_activo" 
            [data]="activa" 
            [width]="300">
          </ng-select2>
        </div>

        <div class="col-2">
          <ng-select2 
            class="select_juega" 
            [data]="juega" 
            [width]="300">
          </ng-select2>
        </div>
      </form>

      <div class="col-3 d-flex d-none d-lg-flex" id="icono">
        <a href="#" [routerLink]="['/login']"
          ><i class="fas fa-plus-circle"></i>Crear Rifa</a
        >
      </div>
    </div>

    <div id="filtro_listar" *ngIf="mostrarFiltro">
      <form class="col align-items-center align-self-center">
        <div class="col-12">
          <input type="text" class="form-control" id="buscarProducto" placeholder="Nombre"/>
        </div>

        <div class="col-12 d-flex select_celular justify-content-around">
          <div class="col-6">
            <ng-select2 
              class="select_activo" 
              [data]="activa" 
              [width]="300">
            </ng-select2>
          </div>

          <div class="col-6">
            <ng-select2 
              class="select_juega" 
              [data]="juega" 
              [width]="300">
            </ng-select2>
          </div>
        </div>
      </form>
    </div>

    <div class="row contenido mb-3">
      <div class="col-12 col-sm-4 col-lg-3 d-flex">
        <app-card></app-card>
      </div>
    </div>

    

  <!-- <div class="col-12 col-sm-4 col-lg-3">
          <div class="card-deck">
            <a class="card" [routerLink]="['../rifa']">
              <div class="card-header">
                <h3 class="card-title">
                  1634 - VIAJE PARA DOS PERSONAS A SAN ANDRES
                </h3>
              </div>
              <div class="card-body">
                <img src="assets/img/home/viaje.png" alt="" />
              </div>
              <div class="card-footer d-block">
                <div
                  class="cuando-juega d-flex align-items-center align-self-center justify-content-between"
                >
                  <div class="col-auto">
                    <i class="fas fa-hourglass-start"></i>
                  </div>
                  <div class="parrafos col-11">
                    Juega el 24 de mayo con los cuatro últimos de la lotería de
                    Bogotá
                  </div>
                </div>
                <div class="cantidades">
                  <div class="col-auto d-flex">
                    <i class="fas fa-check-circle" id="icono1"></i>
                    <div>90</div>
                  </div>
                  <div class="col-auto d-flex">
                    <i class="fas fa-ticket-alt" id="icono2"></i>
                    <div>100</div>
                  </div>
                  <div class="col-auto d-flex">
                    <i class="fas fa-money-bill-alt" id="icono3"></i>
                    <div>$15.000</div>
                  </div>
                </div>
                <ng-container *ngIf="data == 'participante'">
                  <div class="boton-participante d-flex justify-content-center">
                    <div class="btn btn-participar">Participar</div>
                  </div>
                </ng-container>
              </div>
            </a>
          </div>
        </div>

        <div class="col-12 col-sm-4 col-lg-3">
          <div class="card-deck">
            <a [routerLink]="['../rifa']" class="card">
              <div class="card-header">
                <h3 class="card-title">1256 - CAMISETA SELECCIÓN COLOMBIA</h3>
              </div>

              <div class="card-body">
                <img src="assets/img/home/camisa.png" alt="" id="imagen" />
              </div>

              <div class="card-footer d-block">
                <div class="cantidades">
                  <div class="col-auto d-flex d-flex">
                    <i class="fas fa-check-circle" id="icono1"></i>
                    <div>90</div>
                  </div>
                  <div class="col-auto d-flex">
                    <i class="fas fa-ticket-alt" id="icono2"></i>
                    <div>100</div>
                  </div>
                  <div class="col-auto d-flex">
                    <i class="fas fa-money-bill-alt" id="icono3"></i>
                    <div>$15.000</div>
                  </div>
                </div>
                <div id="finalizar">
                  <h5>FINALIZADA</h5>
                  <div>$834.000</div>
                  <h6>65% rentabilidad</h6>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-12 col-sm-4 col-lg-3">
          <div class="card-deck">
            <a [routerLink]="['../rifa']" class="card">
              <div class="card-header">
                <h3 class="card-title">1103 - MALETA TOTTO</h3>
              </div>

              <div class="card-body">
                <img src="assets/img/home/maleta.png" alt="" id="imagen" />
              </div>

              <div class="card-footer d-block">
                <div class="cantidades">
                  <div class="col-auto d-flex">
                    <i class="fas fa-check-circle" id="icono1"></i>
                    <div>90</div>
                  </div>
                  <div class="col-auto d-flex">
                    <i class="fas fa-ticket-alt" id="icono2"></i>
                    <div>100</div>
                  </div>
                  <div class="col-auto d-flex">
                    <i class="fas fa-money-bill-alt" id="icono3"></i>
                    <div>$15.000</div>
                  </div>
                </div>
                <div id="finalizar">
                  <h5>FINALIZADA</h5>
                  <p>-$46.000</p>
                </div>
              </div>
            </a>
          </div>
        </div>
    </div>  -->
  </div>
</div>
