<div id="intro" class=" order-sm-2 ">

  <div class="imagen_celular d-flex d-sm-none">
    <img class="w-100" src="assets/img/landing/fondo_celular.png" />
  </div>

  <div class="imagen_tablet d-none d-sm-flex d-md-none">
    <img class="w-100" src="assets/img/landing/fondo_tablet.png" />
  </div>


  <div class="imagen_intro d-flex d-none d-md-flex ">
    <img class="w-100" src="assets/img/landing/fondo.jpg" />
  </div>




  <div id="textoIntro" class=" order-sm-1">
    <h1>OLVÍDATE DE MANEJAR TALONARIOS PARA TUS RIFAS</h1>
    <p>Ahora hazlo en línea y genera unos ingresos extras</p>
    <button class="btn btn-intro btn-lg d-flex align-items-center align-self-center justify-content-center"[routerLink]="['/login']">Crear Rifa</button>
  </div>
</div>

