
  <section id="yorifoNumero">
    <h2 class="text-center p-3">YoRifo en números</h2>
    <div class="row text-center">
      <div class=" col-sm-12 col-md-4">
        <div id="funcionaNumeros" class="opcion_numeros">
          <i class="fas fa-user-friends"></i>
        </div>
        <div class="numeros">500</div>
        <p>Usuarios activos</p>
      </div>
      <div class=" col-sm-12 col-md-4">
        <div id="funcionaNumeros" class="opcion_numeros">
          <i class="fas fa-ticket-alt"></i>
        </div>
        <div class="numeros">320</div>
        <p>Rifas registradas</p>
      </div>
      <div class=" col-sm-12 col-md-4">
        <div id="funcionaNumeros" class="opcion_numeros">
          <i class="fas fa-medal"></i>
        </div>
        <div class="numeros">280</div>
        <p>Ganadores</p>
      </div>

    </div>
  </section>

