<footer class="footer">
    <div class="row p-3">
      <div class=" col-12 col-md-6">
       <div class="zona_logo">
           <img src="assets/img/landing/logoYoRifo.png" alt="">
        </div>
      <p>Es una plataforma para crear, promocionar y gestionar rifas de forma transparente, segura y confiable.</p>
      </div>

      <div class="col-6 col-lg-3 order-2 order-md-1 navegacion_footer" >
        <a href="#" class="enlaces">Acerca de YoRifo</a>
        <a href="#" class="enlaces">Como funciona</a>
        <a href="#" class="enlaces">Características</a>
        <a href="#" class="enlaces">En números</a>
      </div>
  
      <div class=" col-6 col-lg-3 order-1 order-md-2 footer-iconos">
        <p>Contáctenos</p>
        <a href="#" class="text-center">info@yorifo.co</a>
  
        <div class="row iconos">
          <div class="col-auto">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="col-auto">
            <i class="fab fa-instagram"></i>
          </div>
          <div class="col-auto">
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 final">
        <p>YoRifo es una RedAlt</p>
        <p>{{ anio }}</p>
      </div>
    </div>
  </footer>

