<div id="comoFunciona">
    <h2 class="text-center">CÓMO FUNCIONA</h2>
    <div class="sub_titulo">El que Organiza</div>

    <div class="row p-3">
      <div class="col-12 col-md-6 col-lg-3 text-center mb-4">
        <div id="funcionaPublica" class="opcion_funciona">
          <i class="far fa-edit"></i>
        </div>
        <h3>Publica</h3>
        <p>Publica tus rifas con unos pocos clics y asóciala a una lotería local para garantizar transparencia.</p>
      </div><!-- /.col-lg-3 -->

      <div class="col-12 col-md-6 col-lg-3 text-center mb-4">
        <div id="funcionaPromociona" class="opcion_funciona">
          <i class="fas fa-bullhorn"></i>
        </div>
        <h3>Promociona</h3>
        <p>Comparte con tus amigos fácilmente un enlace a una página exclusiva para tu rifa. </p>
      </div><!-- /.col-lg-3 -->

      <div class="col-12 col-md-6 col-lg-3 text-center mb-4">
        <div id="funcionAdministra" class="opcion_funciona">
          <i class="fas fa-clipboard-list"></i>
        </div>
        <h3>Administra</h3>
        <p>Realiza seguimiento y control de los interesados en los números de tu rifa y recauda tu dinero fácilmente.
        </p>
      </div><!-- /.col-lg-3 -->

      <div class="  col-12 col-md-6 col-lg-3 text-center mb-4">
        <div id="funcionEntrega" class="opcion_funciona">
          <i class="fas fa-award"></i>
        </div>
        <h3>Entrega</h3>
        <p>Entrega el premio de tu rifa y recibirá una calificación que mejorará tu reputación en YoRifo.</p>
      </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->

    <div class="sub_titulo">El que Participa</div>

    <div class="row p-3">
      <div class=" col-12 col-md-6 col-lg-4 text-center mb-4">
        <div id="funcionSuscribete" class="opcion_funciona">
          <i class="fas fa-hand-pointer"></i>
        </div>
        <h3>Suscribete</h3>
        <p>Suscribete a las rifas que desees y participa. Las rifas jugarán con la lotería local para mayor
          transparencia. </p>
      </div><!-- /.col-lg-4 -->

      <div class="col-12 col-md-6 col-lg-4 text-center mb-4">
        <div id="funcionGana" class="opcion_funciona">
          <i class="fas fa-trophy"></i>
        </div>
        <h3>Gana</h3>
        <p>Suscribete a las rifas que desees y participa. Las rifas jugarán con la lotería local para mayor
          transparencia.</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-12 col-lg-4 text-center mb-4">
        <div id="funcionCalifica" class="opcion_funciona">
          <i class="fas fa-list"></i>
        </div>
        <h3>Califica</h3>
        <p>Evalúa la gestión y cumplimiento del organizador de la rifa mejorando su credibilidad. </p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>