
    <div class="card-deck">
      <a class="card mb-3" *ngFor="let cards of card" [routerLink]="['./rifa/ver']">
          <div class="card-header">
            <h3 class="card-title">{{cards.titulo}}</h3>
          </div>
          <div class="card-body">
            <img [src]="cards.imagen" [alt]="cards.nombre" />
          </div>
          <div class="card-footer d-block">
            <div  *ngIf="cards.estado == 'proceso'" class="cuando-juega d-flex align-items-center align-self-center justify-content-between">
              <div class="col-auto">
                <i class="fas fa-hourglass-start"></i>
              </div>
              <div class="parrafos col-11">{{cards.texto}}</div>
            </div>
            <div class="cantidades">
              <div class="col-auto d-flex">
                <i class="fas fa-check-circle" id="icono1"></i>
                <div>{{cards.cantidad1}}</div>
              </div>
              <div class="col-auto d-flex">
                <i class="fas fa-ticket-alt" id="icono2"></i>
                <div>{{cards.cantidad2}}</div>
              </div>
              <div class="col-auto d-flex">
                <i class="fas fa-money-bill-alt" id="icono3"></i>
                <div>{{cards.cantidad3}}</div>
              </div>
            </div>

             <div *ngIf="cards.estado == 'finalizada'">
                <div class="finalizar text-center" *ngIf="cards.tipo == true">
                  <h5>FINALIZADA</h5>
                  <div>${{cards.valor}}</div>
                  <h6>{{cards.porcentaje}}% rentabilidad</h6>
                </div>

                <div class="finalizar text-center"  *ngIf="cards.tipo == false">
                  <h5>FINALIZADA</h5>
                  <p>-${{cards.valor}}</p>
                </div>
              </div>

            <ng-container *ngIf="data == 'participante' && cards.estado == 'proceso'">
              <div class="boton-participante d-flex justify-content-center">
                <div class="btn btn-participar">Participar</div>
              </div>
            </ng-container>
          </div>
      </a>
    </div>
 