<section id="promociona">

    <div class="row fila1 d-flex justify-content-center">

      <div class="col-auto d-flex">
        <div id="funcionaPromociona" class="opcion_section">
          <i class="fas fa-calendar-day"></i>
        </div>
      </div>

      <div class="col-9 col-lg-5 ">
        <h2>Organiza tus rifas y obtener ganancias rápidamente </h2>
        <p>Crea tu rifa asociándola a una lotería local e invita a tus amigos y conocidos. Ellos seleccionarán el número deseado y procederán a pagarlo. </p> 

        <p class="parrafo2">YoRifo se ayudará para que no se te queden números separados sin pagar. Puesto que los números serán
          separados solamente por 5 días, luego los liberará!</p>
        <a class="btn-funcionalidades btn-lg" [routerLink]="['/login']">Crea tu primera rifa</a>
      </div>

      <div class="col-12 col-lg-6">
        <div  class="intro d-flex align-items-center align-self-center justify-content-center">
          <img class="w-100" src="assets/img/landing/creaPrimera.png" />
        </div>
      </div>
    </div>


    <div class="row fila1 d-flex justify-content-center">

      <div class="col-12 col-lg-6 order-2 order-lg-1">
        <div class="d-flex justify-content-center intro">
          <img class="w-100" src="assets/img/Grupo 29.png" />
        </div>
      </div>

      <div class="col-auto d-flex order-1 order-lg-2">
        <div id="funcionaPromociona" class="opcion_section">
          <i class="fas fa-stopwatch"></i>
        </div>
      </div>

      <div class=" col-9 col-lg-5 order-1 order-lg-2">
        <h2>No olvidarás más las rifas en que participaras</h2>

        <p>¿No te ha pasado? Que comprar un boleto para participar en una rifa y ¿se te olvida por completo? Sólo meses después te acuerdas porque encontraste el número de boleto en tu billetera, bolso u otra parte.</p> 

        <p class="parrafo2">YoRifo te notificará 8 horas antes del sorteo y te mandará el número ganador luego de éste. Además podrás consultar todas tus rifas en cualquier momento. </p>

        <a class="btn-funcionalidades btn-lg" [routerLink]="['/login']">Participa en tu primera rifa</a>
      </div>
    </div>
  </section>