#intro {
  position: relative;
}

.imagen_intro {
  height: 62.5vw;
}

#textoIntro {
  position: absolute;
  top: 16%;
  padding: 0% 3% 0% 5%;
  width: 50%;
}

#textoIntro h1 {
  color: var(---color-texto);
  font-size: 3rem;
  font-weight: 600;
}

#textoIntro p {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--textoRegistro);
}

.btn-intro {
  font-size: 1.375rem !important;
  height: 3.25rem !important;
  width: 35% !important;
  margin-top: 3rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgb(22, 223, 242, 0.2);
}

/* MEDIA QUERIES */

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  #textoIntro {
    width: 53%;
  }

  #textoIntro h1 {
    font-size: 1.875rem;
  }

  #textoIntro p {
    font-size: 0.9rem;
  }

  .btn-intro {
    height: 2.5rem !important;
    margin-top: 2rem !important;
    font-size: 0.875rem !important;
    width: 38% !important;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
  #textoIntro {
    width: 93%;
    top: 12%;
  }

  #textoIntro h1 {
    font-size: 1.5rem;
  }

  #textoIntro p {
    font-size: 0.813rem;
  }

  .btn-intro {
    font-size: 0.75rem !important;
    margin-top: 1rem !important;

  }
}
