<section id="estasListo">
  <div class="imagenEscritorio d-none d-lg-block">
    <img class="w-100" src="assets/img/Grupo 31.png" />
  </div>    
  <div class="imagenTablet d-none d-md-flex d-lg-none">
      <img class="w-100" src="assets/img/landing/estasListo_tablet.png" />
    </div>
    <div class="imagenCelular  d-sm-flex d-md-none">
      <img class="w-100" src="assets/img/landing/imagen_azul_celular.png" />
    </div>
    
    <div id="ingresarEstasListo">
      <h1>¿Estás listo para comenzar?</h1>
      <a class="btn-imagen btn-lg d-flex justify-content-center align-items-center" href="#">Ingresar</a>
    </div>          
</section>

