<div id="dashboardParticipante">
  <div class="container-fluid">
    <div class="row titulo d-flex">
      <div class="col-12">
        <h2>Dashboard</h2>
      </div>
    </div>

    <div class="row mb-2 zona-arriba">

     

      <div *ngFor="let card of cardsmostrar" class="col-6 col-sm-4 col-md-3 card-deck">
        <!-- Card Ganador -->
        <div *ngIf="card.estado == 'ganador'" class="card card_boleto ganador">
          <div class="card-body">
            <div class="numero-ganador">25</div>
            <div class="texto-ganador">Ganador!!!</div>
            <div class="descripcion-ganador">1828 - Portatil Lenovo 14” Core i5</div>
            <div class="juega-ganador">Jugó el 12 de junio con los cuatro últimos de la lotería de Boyacá</div>
          </div>
        </div>

        <!-- Card Perdedor -->

        <div *ngIf="card.estado == 'perdedor'" class="card card_boleto perdedor">
          <div class="card-body">
            <div class="numero-perdedor">76</div>
            <div class="texto">No gano!!!</div>
            <div class="descripcion">1828 - Portatil Lenovo 14” Core i5</div>
            <div class="juega">Jugó el 12 de junio con los cuatro últimos de la lotería de Boyacá</div>
            <div class="info-ganador">El ganador fue el boleto 98</div>
          </div>
        </div>

        <!-- Card Pagado -->
        <div *ngIf="card.estado == 'pagado'" class="card card_boleto pagado">
          <div class="card-body">
            <div class="numero-pagado">34</div>
            <div class="texto-pagado">Pagado</div>
            <div class="descripcion">1828 - Portatil Lenovo 14” Core i5</div>
            <div class="juega">Jugó el 12 de junio con los cuatro últimos de la lotería de Boyacá</div>
          </div>
        </div>

        <!-- Card Boleto Separado -->
        <div *ngIf="card.estado == 'separado'" class="card card_boleto boleto-separado">
          <div class="card-body">
            <div class="numero-separado">34</div>
            <div class="texto-separar">Separado</div>
            <div class="descripcion-separar">2303 - Televisor Samsung 40 pulgadas</div>
            <div class="juega-separado">Jugó el 12 de junio con los cuatro últimos de la lotería de Boyacá</div>
            <button class="btn btn-primary boton_pagar">Pagar</button>
          </div>
        </div>

        <div class="carousel-control-next col-auto icono_siguiente" (click)="siguiente()">
          <span><i class="fas fa-chevron-right icono"></i></span>
        </div>
      </div>

      <!-- <button class="carousel-control-prev col-auto"  (click)="anterior()" type="button"  data-bs-slide="prev">
        <span><i class="fas fa-chevron-left icono" aria-hidden="true"></i></span>
        <span class="visually-hidden">Previous</span>
      </button> -->
    </div>
    

    <div class="row justify-content-between">
      <div class="col-izquierda card card-invitaciones">
        <div class="card-title d-flex">
          <h3 class="titulo-invitacion">Invitaciones a participar</h3>
        </div>

        <div class="card-body">

          <div class="row contenido">

            <div class="col-12 d-flex align-items-center align-self-center justify-content-between p-3">
              <div class=" col-2">
                <img src="assets/img/home/televisor.png" alt="" class="img-card">
              </div>

              <div class="col-8 infoParticipante">
                <div class="parrafos-participante">
                  <p class="parrafo1">2303 - Televisor Samsung 40 pulgadas</p>
                  <p class="parrafo2">200 boletos - 120 boletos vendidos - 82% rentabilidad</p>
                </div>
                <div class="cantidades d-flex">
                  <div class="col-auto d-flex align-items-center">
                    <i class="fas fa-check-circle icono1"></i>
                    <div>34</div>
                  </div>
                  <div class="col-auto d-flex align-items-center">
                    <i class="fas fa-ticket-alt icono2"></i>
                    <div>150</div>
                  </div>
                  <div class="col-auto d-flex align-items-center">
                    <i class="fas fa-money-bill-alt icono3"></i>
                    <div>$5.000</div>
                  </div>
                </div>
              </div>

              <div class="col-2 boton">
                <button class="btn btn-primary boton_separar">Participar</button>
              </div>
            </div>

            <div class="col-12 d-flex align-items-center align-self-center justify-content-between p-3">
              <div class=" col-2">
                <img src="assets/img/home/portatil.png" class="img-card">
              </div>

              <div class="col-8 infoParticipante">
                <div class="parrafos-participante">
                  <p class="parrafo1">Portatil Lenovo 14” Core i5</p>
                  <p class="parrafo2">200 boletos - 120 boletos vendidos - 82% rentabilidad</p>
                </div>
                <div class="cantidades d-flex">
                  <div class="col-auto d-flex align-items-center">
                    <i class="fas fa-check-circle icono1"></i>
                    <div>34</div>
                  </div>
                  <div class="col-auto d-flex align-items-center">
                    <i class="fas fa-ticket-alt icono2"></i>
                    <div>150</div>
                  </div>
                  <div class="col-auto d-flex align-items-center">
                    <i class="fas fa-money-bill-alt icono3"></i>
                    <div>$5.000</div>
                  </div>
                </div>
              </div>

              <div class="col-2 boton">
                <button class="btn btn-primary boton_separar">Participar</button>
              </div>
            </div>

            <div class="col-12 d-flex align-items-center align-self-center justify-content-between p-3">

              <div class=" col-2">
                <img src="assets/img/home/isla.png" alt="" class="img-card">
              </div>

              <div class="col-8 infoParticipante">
                <div class="parrafos-participante">
                  <p class="parrafo1">Viaje para dos personas a San Andres</p>
                  <p class="parrafo2">200 boletos - 120 boletos vendidos - 82% rentabilidad</p>
                </div>
                <div class="cantidades d-flex">
                  <div class="col-auto d-flex align-items-center">
                    <i class="fas fa-check-circle icono1"></i>
                    <div>34</div>
                  </div>
                  <div class="col-auto d-flex align-items-center">
                    <i class="fas fa-ticket-alt icono2"></i>
                    <div>150</div>
                  </div>
                  <div class="col-auto d-flex align-items-center">
                    <i class="fas fa-money-bill-alt icono3"></i>
                    <div>$5.000</div>
                  </div>
                </div>
              </div>

              <div class="col-2 boton">
                <button class="btn btn-primary boton_separar">Separado</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-derecha">


        <div class="card card-carousel">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card-tittle">Premios ganados</div>
                <div class="imagen-gana d-flex justify-content-center">
                  <img src="assets/img/home/camisa.png" alt="">
                </div>
                <div class="card-body">
                  <p class="texto-principal text-center">1256 - CAMISETA SELECCIÓN COLOMBIA</p>
                  <p class="boleto-ganador text-center">Boleto 23</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card-tittle">Premios ganados</div>
                <div class="imagen-gana d-flex justify-content-center">
                  <img src="assets/img/home/portatil.png" alt="">
                </div>
                <div class="card-body">
                  <p class="texto-principal text-center">1545- PORTATIL LENOVO I5</p>
                  <p class="boleto-ganador text-center">Boleto 17</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card-tittle">Premios ganados</div>
                <div class="imagen-gana d-flex justify-content-center">
                  <img src="assets/img/home/maleta.png" alt="">
                </div>
                <div class="card-body">
                  <p class="texto-principal text-center">1110 - MALETA TOTTO NEGRA</p>
                  <p class="boleto-ganador text-center">Boleto 90</p>
                </div>
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span><i class="fas fa-chevron-left icono" aria-hidden="true"></i></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span><i class="fas fa-chevron-right icono" aria-hidden="true"></i></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    



