<div id="ver-rifa">
    <div class="row no-gutters encabezado-rifas">
        <div class="col-9">
          <h3 class="titulo">RIFA - 2303</h3>
        </div>

        <div class="col-3 d-flex align-items-center align-self-center justify-content-end ">
          <button class="btn btn-lg" (click)="back()"><i class="fas fa-arrow-left"></i>Volver</button>
        </div>
      </div>

    <div class="row">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>



